/* Dashboard container */
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root,
.App,
.dashboard-container {
    /* display: flex; */
    height: 100%;
    width: 100%;
}


/* Button to toggle sidebar on small screens */
.sidebar-toggle-button {
    position: fixed;
    display: block;
    background-color: #333;
    color: white;
    border: none;
    /* padding: 10px; */
    cursor: pointer;
    top: 0;
    /* right: 0; */
    z-index: 999;
    width: 30px;
    height: 40px;
    /* transition: transform 1s ease-in-out; */
}

/* Sidebar */
.sidebar {
    background-color: black;
    color: white;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar-list-item {
    width: 90%;
}

.profile-list-item {
    width: 90%;
    border-top: 1px solid #ccc;
}

.sidebar h2 {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.main-content {
    /* flex: 1; */
    /* Take remaining space */
    padding: 20px;
    height: 100%;
    /* background-color: rgba(56,48,59,255); */
    color: white;
    margin-left: 200px;
    background-image: linear-gradient(45deg, rgba(109, 87, 88, 255), rgba(56, 48, 59, 255));
    background-size: cover;
    background-attachment: fixed;
}

/* Hide sidebar on small screens */
@media screen and (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        position: fixed;
        /* Fixes sidebar position */
        z-index: 998;
        /* Ensure sidebar is behind content */
    }

    /* Show sidebar toggle button */
    .sidebar-toggle-button {
        left: 0
    }

    .main-content {
        margin-left: 0;
    }
}


/* Sidebar items */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
}

/* Main content */



/* Header */
header {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

header h1 {
    margin: 0;
    text-align: center;
}


/* Example box styles */
.box-container {
    display: flex;
    flex-wrap: wrap;
    /* Allow boxes to wrap to the next line */
}

.box {
    background-color: #f0f0f0;
    background-color: rgba(243, 240, 245, 0.3);
    color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    /* Add some margin between the boxes */
    /*flex: 1; /* Each box takes equal space */
    width: 600px;
    height: 350px;
    /* Limit the maximum width of each box */
}

.likelihood-count {
    width: 370px;
}

.intensity-count {
    width: 200px;
}

.country-count {
    width: 1300px;
    height: 750px;
}